@model Rijschool.Models.PersoneelDashboardVM
@using PagedList.Mvc;

@{
    ViewBag.Title = "Dashboard";
}
<br />
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.AantalKlanten</div>
                        <div>Klanten</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-graduation-cap fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.AantalInstructeurs</div>
                        <div>Instructeurs</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">17</div>
                        <div>bestellingen vandaag!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">7</div>
                        <div>nieuwe support tickets!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Klanten
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Voornaam</th>
                                <th>Familienaam</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Klanten)
                            {
                                <tr>
                                    <td>@item.Voornaam</td>
                                    <td>@item.Familienaam</td>
                                    <td>@item.Email</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                   @Html.PagedListPager(Model.Klanten, pageKlant => Url.Action("Index", new { pageKlant, Model.PageInstructeur }))
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!--Einde Table Klanten-->
<!--Table Instructeurs-->
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Instructeurs
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Voornaam</th>
                                <th>Familienaam</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Instructeurs)
                            {
                                <tr>
                                    <td>@item.Voornaam</td>
                                    <td>@item.Familienaam</td>
                                    <td>@item.Email</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model.Instructeurs, pageInstructeur => Url.Action("Index", new { Model.PageKlant, pageInstructeur }))
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- Einde Table Instructeurs -->
</div>